h2[id^='23-resources'] + p + p + p, h2[id="22-service-composition"] + p, h2[id="22-service-composition"] + p + p {
    text-align: center;
}

h2[id^='23-resources'] + p + p + p img {
    width: 60%;
}

h2[id^='23-resources'] + p + p + p em {
    display: block;
}

h2[id="22-service-composition"] + p img {
    width: 50%;
}

